reviews:
  namespace: bookinfo-prd
  replicas: 1
  imagePullSecrets: registry-bookinfo
  port: 9080
  image: ghcr.io/nattaphonmek/bookinfo-reviews
  tag: prd
ingress:
  host: opsta.konmek.cloud
  path: "/reviews(/|$)(.*)"
  serviceType: ClusterIP
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
extraEnv:
  ENABLE_RATINGS: true
  RATINGS_SERVICE: https://opsta.konmek.cloud/ratings
  STAR_COLOR: red