name: dev-env
on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/nattaphonmek/bookinfo-reviews:dev
    
  deploy:
    needs: build
    runs-on: ubuntu-20.04
    steps:          
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Google auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0

      - name: Use Gcloud Cli  
        run: |
          gcloud info  
          gcloud auth list  

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      - name: Deploy
        run: |
          gcloud container clusters get-credentials opsta-bootcamp --zone asia-southeast1-a --project trans-dynamics-346308

          helm upgrade -f k8s/helm-values/values-bookinfo-dev-reviews.yaml --wait \
                --set extraEnv.COMMIT_SHA=${{github.sha}} \
                --namespace bookinfo-dev bookinfo-dev-reviews k8s/helm

  test:
    needs: deploy
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Acceptance test 
        run: curl https://dev.konmek.cloud/reviews/health | grep "Reviews is healthy" 

      # - name: SonarCloud Scan
      #   uses: sonarsource/sonarcloud-github-action@master
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.TOKEN }}
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      
      - name: Anchore Scan
        uses: anchore/scan-action@v3
        id: scan
        with:
          image: "ghcr.io/nattaphonmek/bookinfo-reviews:dev"
          fail-build: false
          acs-report-enable: true
      
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}

      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: ${{ github.event.repository.name }}
          path: '.'
          format: 'HTML'    
          args: >
            --failOnCVSS 7
            --enableRetired

      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports

  sonarcloud:
    needs: deploy
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'
      - name: test gradle
        run: ./gradlew build --no-daemon
      # - name: Build and analyze
      #   run: ./gradlew build jacocoTestReport sonarqube --info
      #   env:
      #     # Needed to get some information about the pull request, if any
      #     GITHUB_TOKEN: ${{ secrets.TOKEN }}
      #     # SonarCloud access token should be generated from https://sonarcloud.io/account/security/
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    